################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/thanithamizhakarathikalanjiyam.github.io-YesBlazor-no.slnx/FileContentIndex
/.vs/slnx.sqlite
