################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/thanithamizhakarathikalanjiyam.github.io-YesBlazor-no.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/thanithamizhakarathikalanjiyam.github.io-YesBlazor-no.slnx/v18
/TTAK_BLZR/.vs/TTAK_BLZRV2
/TTAK_BLZR/packages
/.vs/TTAK_BLZRV2
/.vs
/TTAK_BLZR/.vs/TTAK_BLZR
/TTAK_BLZR/.github
