		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">									
									<img src="{{ site.baseurl }}/images/ttak-48.png" alt="ttak-48" />									
									<h3>இணைய அகராதிகள்</h3>
									<ul class="links">
										<!--li><a href="https://groups.google.com/forum/#!forum/minTamil">மின்தமிழ்</a></li-->
										<li><a href="http://www.tamilpulavar.org/">தமிழ்ப்புலவர்</a></li>
										<li><a href="https://github.com/Ezhil-Language-Foundation/open-tamil">Open Tamil Web</a></li>
									</ul>
								</section>
								<section class="6u">
									<h3>சிறந்த வலைப்பூ</h3>
									<ul class="links">
										<!-- li><a href="https://atamilspeaks.wordpress.com/">தமிழில்</a></li -->
										<li><a href="https://jayabarathan.wordpress.com/">நெஞ்சின் அலைகள்</a></li>
										<li><a href="https://siliconshelf.wordpress.com/">சிலிகான் ஷெல்ஃப் </a></li>
										<li><a href="http://kanaigal.blogspot.in/">கணைகள் </a></li>
										<li><a href="http://madhavipanthal.blogspot.in/">மாதவிப் பந்தல்</a></li>
										<li><a href="https://vaiyai.wordpress.com/">வையை</a></li>
										<li><a href="http://urssimbu.blogspot.com/">மாணவன்</a></li>
										<li><a href="{{ site.url }}/ttak_aandup_peyar">தமிழ் ஆண்டுப் பெயர்கள்</a></li>
									</ul>
								</section>
							</div>
						</div>
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>கலைச்சொற்கள்</h3>
									<ul class="links">
									<li><a href="{{ site.url }}/nw2018">புதியவை 2018</a></li>
									<li><a href="{{ site.url }}/vilampara-palakaikal">விளம்பரப் பெயர்ப் பலகைகள்</a></li>
									
									</ul>
								</section>
								<section class="6u">
									<h3>பிறநிரல் திட்டங்கள்</h3>
									<ul class="links">
										<li><a href="{{ site.url }}/ttak_tamil_naatkaatti">தனித்தமிழ் நாட்காட்டி</a></li>
										<li><a href="{{ site.url }}/ttak_tamil_time_promo">Media Promotion Letter</a></li>
										<li><a href="{{ site.url }}/ttak_tamil_ngaalakalanjiyam">தனித்தமிழ் ஞாலக் களஞ்சியம்</a></li>
									</ul>									
								</section>
							</div>
						</div>
						
					</div>
				</div>

				<!-- Icons -->
					<!-- ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul -->

				<!-- Copyright -->
				<div class="copyright">
					<ul class="menu">						
						<li>
						<span class="copyright">&copy; Free. Design: <a href="#">Pitchaimuthu</a>, தமிழ்நாடு.</span>
						</li>
					</ul>
				</div>
			</div>
			</div>
	</body>

</html>
