<div id="intro-wrapper">
  <div id="intro">
    <h1>கைப்பேசி நூல் அறிமுகம்</h1>

    <p>
	<b>{{ include.author }} நூல்கள்</b><br/>

	<h1>{{ include.book_name }}  </h1>

	>ஆசிரியர்  <br/>
	<b>{{ include.author }}</b>


	பதிப்பு  <br/>
	{{ include.publish_date }} 
    </p>

    <a href="https://github.com/ThaniThamizhAkarathiKalanjiyam/tam_ilakiyam/raw/master/Noolkal/{{ include.permalink }}.slob" class="download-link">
	{{ page.title }} - Download this book for Android
	</a>
    or
    <a href="about/">Read More...</a>

  </div>
</div>

