<br/><br/><b>கிரந்தச் சொல்லை இங்கு இடுங்கள்</b><br/>
<textarea id="kirantha_word" rows="4" cols="50">
புஷ்கர்
</textarea>
<br/>
<button class="button" onclick="ChangetToTamil()">Click</button>
<button class="button" onclick="runTest()">Run Test</button>
<br/><b>கிரந்தமற்ற தமிழ்ச் சொல்:</b><br/>
<textarea id="tamil_without_kirantham" rows="4" cols="50">
புட்கர்
</textarea>
<br/><b>தனித்தமிழ்ச் சொல்:</b><br/>
<textarea id="tamil_word" rows="4" cols="50">
புட்கர்
</textarea>


<br/>

<script>
	
function runTest()
{
	var result = "";
	var testWords = ["ர்ஷபம்",
	"மிர்கம்","நாஹம்","ஹாக்கி", "பங்கஜம்",
	"ஷங்கரன்", "தேஷம்", "பாஷம்",
	"ஷண்முகம்","விஷம்","ஷாஷி",
	"ஸபை","மாஸம்","ஹரன்",
	"பக்ஷம்","க்ஷூரம்","மாலா","சபா",
	"மக்ஷு","ரங்கன்","ராமன்","ரோமம்",
	"லாபம்","லோபம்","வார்த்தா",
	"சுக்லம்","வக்ரம்", "பத்மம்", "பக்வம்",
	"ரத்நம்", "அர்த்தம்", "சக்தி","ஜின",
	"ஜைன", "ஜீவன்", "அஜீரணம்", "காளைராஜன்",
	"ராஜன்", "லக்ஷணம்", "லோஹம்", "ஹோமம்",
	"சபாஷ்", "ராக்ஷஸன்", "பாஷை", "ராஹம்", "ரோஷம்",
	"ராஜா", "ரஜினி", "அஜித்", "விஜய்",
	"ஜெயபாரதன்", "ஜெயமோகன்","ஜலந்தர்"
	];
	
	for(test_count = 0; test_count < testWords.length; test_count++)
	{
		result += kirantham_nekki(testWords[test_count]) + "\n";
	}
	
	$("#tamil_word").val(result);
}	
	
function ChangetToTamil()
{

	var word = $("#kirantha_word").val().trim();
	$("#tamil_without_kirantham").val(kirantham_nekki(word));
	$("#tamil_word").val(kirantham_nekki_thanithamizh(word));

}
</script>