<h2>கிரந்தச் சொல்லை இங்கு இடுங்கள் </h2>
<b>(ஒற்றைச்சொல் மட்டும் இடுங்கள்) வேண்டுமானால் ஏற்கனவே இருக்கும் சொல்லை அழித்து விடுங்கள்.</b>
<textarea id="kirantha_word" rows="4" cols="50">
புஷ்கர்
</textarea>
<br/>
<button class="button" onclick="ChangetToTamil()">Click</button>
<button onclick="runTest()" class="button5">Run Test</button>
<h2>தமிழ்ச் சொல்லை இங்கு பாருங்கள்</h2>
<textarea id="tamil_word" rows="4" cols="50">
புட்கர்
</textarea>
<div id = "kirantha_test">

</div>


<br/>

<script>
	
function runTest()
{
	var result = "";
	var testWords = ["ர்ஷபம் ",
	"மிர்கம்","நாஹம்","ஹாக்கி", "பங்கஜம்",
	"ஷங்கரன்", "தேஷம்", "பாஷம்",
	"ஷண்முகம்","விஷம்","ஷாஷி",
	"ஸபை","மாஸம்","ஹரன்",
	"பக்ஷம்","க்ஷூரம்","மாலா","சபா",
	"மக்ஷு","ரங்கன்","ராமன்","ரோமம்",
	"லாபம்","லோபம்","வார்த்தா",
	"சுக்லம்","வக்ரம்", "பத்மம்", "பக்வம்",
	"ரத்நம்", "அர்த்தம்", "சக்தி","ஜின",
	"ஜைன", "ஜீவன்", "அஜீரணம்", "காளைராஜன்",
	"ராஜன்", "லக்ஷணம்", "லோஹம்", "ஹோமம்",
	"சபாஷ்", "ராக்ஷஸன்", "பாஷை", "ராஹம்", "ரோஷம்",
	"ராஜா"
	];
	
	for(test_count = 0; test_count < testWords.length; test_count++)
	{
		result += testWords[test_count] + ": " + kirantham_nekki(testWords[test_count]) + "<br/>";
	}
	
	$("#kirantha_test").html(result);
}	
	
function ChangetToTamil()
{

	var word = $("#kirantha_word").val().trim();
	$("#tamil_word").val(kirantham_nekki(word));

}
</script>