<hr/>
<h4>தொடர்புடையவை</h4>
<ol>
{% for tag in page.tags %}
<li><h5><a href ="{{ site.url }}/tag/{{ tag }}">
{{ tag }}
</a></h5>
<ol>
{% assign post_titles = "" %}
{% for post in site.tags[tag] %}
	{% assign title_check = post.title | append:'|' %}
	{% if post_titles contains title_check %}
		{% assign empty = "" %}
	{% else %}
		<li><a href ="{{ site.url }}/{{ post.permalink }}">
		{{ post.title }}</a>  </li>
	{% endif %}
	{% assign post_titles = post_titles | append:post.title | append:'|' %}
{% endfor %}
</ol>
</li>
{% endfor %}
</ol>
<h5>தேடு சொற்கள்</h5>
<ol>
{% for keyword in page.keywords %}
<li> {{ keyword }}</li>
{% endfor %}
</ol>
</div>
</div>
<hr class="hidden-modern">
<div id="sidebar-wrapper">
  <div id="sidebar">
{% if page.is_book %}
<h3>நூல் <strong>பொருளடக்கம்</strong></h3>
<ul>
{% assign post_titles = "" %}
{% assign sorted_pages = (site.posts | sort:"order") %}
{% for post in  sorted_pages%}
{% if post.title == page.title  %}
	{% assign title_check = post.sub_title | append:'|' %}
	{% if post_titles contains title_check %}
		{% assign empty = "" %}
	{% else %}
		<li><a href ="{{ site.url }}/{{ post.permalink }}">
		{{ post.sub_title }}</a>  </li>
	{% endif %}
	{% assign post_titles = post_titles | append:post.sub_title | append:'|' %}
{% endif %}
{% endfor %}
</ul>
{% elsif page.is_dict_search == 1%}

<h3>தொடர்புடைய <strong>சொற்கள்</strong></h3>
{% else %}  
<div class="navigation">
<h3>To Read <strong>slob</strong>, Files on Android mobiles</h3>
<ul class="menu"><li>
<a href="https://github.com/ThaniThamizhAkarathiKalanjiyam/win_ttak/raw/ttak_apk/ttak_287.apk">
<img alt="goo_play_ttak.png" src="{{ site.url }}/images/goo_play_ttak.png" />
</a></li>
</ul>
  {% if page.short_name %}
			Author page
		{% else %}
  <h3><strong>களஞ்சியம்</strong>, மிகு எளிது!</h3>
  <ul class="menu">
{% for link in site.get_started_links %}
{% assign loc_name_urls = link | split: ", " %}
  <li><a href="{{ site.url }}/{{ loc_name_urls[1] }}"
  {% if current[1] == loc_name_urls[1] %}class="selected"{% endif %}
  >{{ loc_name_urls[0] }}</a></li>
{% endfor %}
  </ul>
{% endif %}
</div>


<div class="navigation">
  <h3><strong>புதிய</strong> தமிழ் உலகம் படைப்போம்…</h3>
  <ul class="menu">
    <li><a href="{{ site.url }}/documentation">Documentation</a></li>
    <li><a href="{{ site.url }}/ttakbib">Academic Research</a></li>
    <li><a href="{{ site.url }}/libraries">Libraries</a></li>
    <!--li><a href="https://www.Ttak-lang.org/en/documentation/success-stories/">Success Stories</a></li-->
  </ul>
</div>
<div class="navigation">
  <h3><strong>பங்கேருங்கள்</strong> தோழமையான மற்றும் வளர்ந்து கொண்டிருக்கும் தனித்தமிழ் குமுதாயத்தில்.</h3>
  <ul>
    <li><a href="https://groups.yahoo.com/neo/groups/isaiyini/info">Mailing Lists</a>: Talk about Ttak with programmers from all around the world.
</li>
    <li><a href="https://groups.yahoo.com/neo/groups/isaiyini/info">User Groups</a>: Get in contact with Ttakists in your area.
</li>
    <li><a href="{{ site.url }}/blog">Weblogs</a>: Read about what’s happening right now in the Ttak community.
</li>
  </ul>
</div>
    <h3>Syndicate</h3>
    <p><a href="{{ site.url }}/feed">Recent News (RSS)</a></p>
<div class="navigation">
  <h3><strong>498A & DV Act</strong> Legal Terrorism In India</h3>
<br/>
<a href="{{ site.url }}/false498a">
<img width="137" src="{{site.url}}/images/498a_legal_terrorism_in_india.jpg" alt="498a_legal_terrorism_in_india"/></a>
<br/>
</div>
{% endif %}
  </div>
</div>
<hr class="hidden-modern">
        </div>
      </div>
    </div>
    <div class="container">
      <div id="footer">
        <div class="site-links">
			{% include site-links.html %}
        </div>
        <p>
  <!--This site in other languages:
<a href="https://www.ruby-lang.org/bg/">Български</a>,
<a href="https://www.ruby-lang.org/de/">Deutsch</a>,
<a href="https://www.ruby-lang.org/en/">English</a>,
<a href="https://www.ruby-lang.org/es/">Español</a>,
<a href="https://www.ruby-lang.org/fr/">Français</a>,
<a href="https://www.ruby-lang.org/id/">Bahasa Indonesia</a>,
<a href="https://www.ruby-lang.org/it/">Italiano</a>,
<a href="https://www.ruby-lang.org/ja/">日本語</a>,
<a href="https://www.ruby-lang.org/ko/">한국어</a>,
<a href="https://www.ruby-lang.org/pl/">polski</a>,
<a href="https://www.ruby-lang.org/pt/">Português</a>,
<a href="https://www.ruby-lang.org/ru/">Русский</a>,
<a href="https://www.ruby-lang.org/tr/">Türkçe</a>,
<a href="https://www.ruby-lang.org/vi/">Tiếng Việt</a>,
<a href="https://www.ruby-lang.org/zh_cn/">简体中文</a>,
<a href="https://www.ruby-lang.org/zh_tw/">繁體中文</a>.
</p-->
  <p>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  <a href="https://groups.yahoo.com/neo/groups/isaiyini/info">This website</a> is proudly maintained by members of the Isaiyini community.
</p>
      </div>
    </div>
    <!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119554313-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-119554313-1');
	</script>
</body></html>