 <table border="1" cellpadding="2" cellspacing="2" width="100%">
<tbody>
<tr>
<td valign="top">முதல் எழுத்து<br>
</td>
<td valign="top">உருவாக்கிய சொல்<br>
</td>
<td colspan="2" rowspan="1" valign="top">இடைநிலை எழுத்து<br>
</td>
<td valign="top">ஈறு எழுத்து<br>
</td>
</tr>
<tr>
<td colspan="1" rowspan="2" valign="top">
<ol id="selectable">
<li class="ui-widget-content">Item 1</li>
<li class="ui-widget-content">Item 2</li>
<li class="ui-widget-content">Item 3</li>
<li class="ui-widget-content">Item 4</li>
<li class="ui-widget-content">Item 5</li>
<li class="ui-widget-content">Item 6</li>
<li class="ui-widget-content">Item 7</li>
</ol>
</td>
<td valign="top"><br>
</td>
<td valign="top">நின்ற மெய்<br>
</td>
<td valign="top">மயங்கு மெய்<br>
</td>
<td valign="top"><br>
</td>
</tr>
<tr>
<td valign="top"><br>
</td>
<td valign="top"><br>
</td>
<td valign="top"><br>
</td>
<td valign="top"><br>
</td>
</tr>
<tr>
<td valign="top"><br>
</td>
<td valign="top"><br>
</td>
<td valign="top"><br>
</td>
<td valign="top"><br>
</td>
<td valign="top"><br>
</td>
</tr>
</tbody>
</table>