<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
  </head>
  <body>
    <table border="1" cellpadding="2" cellspacing="2" width="100%">
      <tbody>
        <tr>
          <td valign="top">முதல் எழுத்து<br>
          </td>
          <td valign="top">உருவாக்கிய சொல்!<br>
          </td>
          <td colspan="2" rowspan="1" valign="top">இடைநிலை எழுத்து<br>
          </td>
          <td valign="top">ஈறு எழுத்து<br>
          </td>
        </tr>
        <tr>
          <td colspan="1" rowspan="2" valign="top">
			<div class="selectable-wrapper">
				<ol id="selectable" class="selectablePM">		
				</ol>
			</div>
          </td>
          <td valign="top"> 
		  
			<div class="ui-widget">				
				<input id="txtSol">
			</div>
		  </td>
          <td valign="top">நின்ற மெய்<br>
          </td>
          <td valign="top">மயங்கு மெய்<br>
          </td>
          <td valign="top"><br>
          </td>
        </tr>
        <tr>
          <td valign="top"><textarea rows="10"> </textarea><br>
          </td>
          <td valign="top">
			<div class="selectable-wrapper">
				<ol id="selWholeMey" class="selectablePM"></ol>
			</div>			
          </td>
          <td valign="top"><br>
          </td>
          <td valign="top"><br>
          </td>
        </tr>
        <tr>
          <td valign="top"><br>
          </td>
          <td valign="top"><br>
          </td>
          <td valign="top"><br>
          </td>
          <td valign="top"><br>
          </td>
          <td valign="top"><br>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
