<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv="CONTENT-TYPE" content="TEXT/HTML; CHARSET=UTF-8">
<LINK href="/assets/seamonkey/css/seven_7z_style.css" rel="stylesheet" type="text/css">
<TITLE>தனித்தமிழ் ஞாலக் களஞ்சியம் (நூல்கள்)</TITLE>
<META name="keywords" content="download, sources, free, gnu, lgpl, 7-zip, 
archiver, compression, software, compress, zip, unzip">
</HEAD>
<BODY>
<TABLE cellspacing=10 cellpadding=10 border=0 width="100%"><TR>
<TD class="MenuColumn" valign="top">
<TABLE cellpadding=2 cellspacing=0 border=0 width="100%">
<TR><TD><IMG width=110 height=63 src="/assets/seamonkey/css/7ziplogo.png" alt="7-Zip" border=0></TD></TR>
<TR><TD><HR></TD></TR></TABLE>
<TABLE cellpadding="2" cellspacing="0" border="0">
  

  <TR><TD><a href="download" class="MenuLink"  
  
  >தரவிறக்கம்</a></TD></TR>  
  

  <TR><TD><a href="agarathiV2" class="MenuLink"  
  
  >அகராதி</a></TD></TR>  
  

  <TR><TD><a href="more_books" class="MenuLink"  
  
  >ஞாலக்களஞ்சியம்</a></TD></TR>  
  

  <TR><TD><a href="about" class="MenuLink"  
  
  >எம்மைப்பற்றி</a></TD></TR>  

<TR><TD><A href="#niruval" class="MenuLink">கைப்பேசியில் நிறுவல்</A></TD></TR>
</TABLE>
<TABLE cellpadding=2 cellspacing=0 border=0 width="100%">
<TR><TD><HR></TD></TR>
</TABLE>


  
  


  

<P>
<B>நூலாசிரியர்கள்</B><BR/>--------<BR/>




 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 

 
 






 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
  
   
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
   
  
 

 
  
  
   
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 

 
  
  
 






		<a href="#Dr R Sivanantham">Dr R Sivanantham</a><br/>
		


		<a href="#K Rajan">K Rajan</a><br/>
		


		<a href="#M Seran">M Seran</a><br/>
		


		<a href="#Windows">Windows</a><br/>
		

		


		<a href="#அ. கி. மூர்த்தி">அ. கி. மூர்த்தி</a><br/>
		


		<a href="#அகராதிகள்">அகராதிகள்</a><br/>
		


		<a href="#அருணகிரிநாதர்">அருணகிரிநாதர்</a><br/>
		


		<a href="#அறிவியல்">அறிவியல்</a><br/>
		


		<a href="#அவ்வை டி.கே.சண்முகம்">அவ்வை டி.கே.சண்முகம்</a><br/>
		


		<a href="#ஆய்தொடியார்">ஆய்தொடியார்</a><br/>
		


		<a href="#இசையினி குழுமம்">இசையினி குழுமம்</a><br/>
		


		<a href="#இந்தியச் சட்டங்கள்">இந்தியச் சட்டங்கள்</a><br/>
		


		<a href="#இராம.கி">இராம.கி</a><br/>
		


		<a href="#இலக்கணம்">இலக்கணம்</a><br/>
		


		<a href="#இளங்கோவடிகள்">இளங்கோவடிகள்</a><br/>
		


		<a href="#உணவு">உணவு</a><br/>
		


		<a href="#உதயண குமார காவிய ஆசிரியர்">உதயண குமார காவிய ஆசிரியர்</a><br/>
		


		<a href="#எட்டுத்தொகை">எட்டுத்தொகை</a><br/>
		


		<a href="#என். வி. கலைமணி">என். வி. கலைமணி</a><br/>
		


		<a href="#எஸ் எம் கமால்">எஸ் எம் கமால்</a><br/>
		


		<a href="#எஸ். எம். கமால்">எஸ். எம். கமால்</a><br/>
		


		<a href="#ஐஞ்சிறு காப்பியங்கள்">ஐஞ்சிறு காப்பியங்கள்</a><br/>
		


		<a href="#ஐம்பெருங் காப்பியங்கள்">ஐம்பெருங் காப்பியங்கள்</a><br/>
		


		<a href="#ஐம்பெருங்காப்பியங்கள்">ஐம்பெருங்காப்பியங்கள்</a><br/>
		


		<a href="#ஒளவை">ஒளவை</a><br/>
		


		<a href="#கண்மணிகணேசன்">கண்மணிகணேசன்</a><br/>
		


		<a href="#கண்மணித்தமிழ்">கண்மணித்தமிழ்</a><br/>
		


		<a href="#கபிலர்">கபிலர்</a><br/>
		


		<a href="#கம்பர்">கம்பர்</a><br/>
		


		<a href="#கல்கி">கல்கி</a><br/>
		


		<a href="#காசிஸ்ரீ நா.ரா.கி. காளைராசன்">காசிஸ்ரீ நா.ரா.கி. காளைராசன்</a><br/>
		


		<a href="#குணங்குடியார்">குணங்குடியார்</a><br/>
		


		<a href="#குழந்தை இலக்கியம்">குழந்தை இலக்கியம்</a><br/>
		


		<a href="#குழந்தைப்பாடல்">குழந்தைப்பாடல்</a><br/>
		


		<a href="#சங்க இலக்கியம்">சங்க இலக்கியம்</a><br/>
		


		<a href="#சரவணப்பெருமாளையர்">சரவணப்பெருமாளையர்</a><br/>
		


		<a href="#சித்தர் பாடல்கள்">சித்தர் பாடல்கள்</a><br/>
		


		<a href="#சிறுவர் தமிழ்">சிறுவர் தமிழ்</a><br/>
		


		<a href="#சிலம்பு">சிலம்பு</a><br/>
		


		<a href="#சீத்தலைச்சாத்தனார்">சீத்தலைச்சாத்தனார்</a><br/>
		


		<a href="#சுரதா">சுரதா</a><br/>
		


		<a href="#சேக்கிழார்">சேக்கிழார்</a><br/>
		


		<a href="#ஜெயபாரதன்">ஜெயபாரதன்</a><br/>
		


		<a href="#ஜெயபாரதன் சி">ஜெயபாரதன் சி</a><br/>
		


		<a href="#தமிழ்  நாடு அரசு">தமிழ்  நாடு அரசு</a><br/>
		


		<a href="#தாமரைச்செல்வன்">தாமரைச்செல்வன்</a><br/>
		


		<a href="#தாயுமானவர்">தாயுமானவர்</a><br/>
		


		<a href="#திருக்குறள்">திருக்குறள்</a><br/>
		


		<a href="#திருத்தக்கதேவர்">திருத்தக்கதேவர்</a><br/>
		


		<a href="#திருமூலர்">திருமூலர்</a><br/>
		


		<a href="#திருவருட் பிரகாச வள்ளலார்">திருவருட் பிரகாச வள்ளலார்</a><br/>
		


		<a href="#திருவள்ளுவர்">திருவள்ளுவர்</a><br/>
		


		<a href="#தேமொழி">தேமொழி</a><br/>
		


		<a href="#தொடரடைவு">தொடரடைவு</a><br/>
		


		<a href="#தோலாமொழித் தேவர்">தோலாமொழித் தேவர்</a><br/>
		


		<a href="#நாக குமார காவியம் ஆசிரியர்">நாக குமார காவியம் ஆசிரியர்</a><br/>
		


		<a href="#நாட்காட்டி">நாட்காட்டி</a><br/>
		


		<a href="#நாதகுத்தனார்">நாதகுத்தனார்</a><br/>
		


		<a href="#நாரா. நாச்சியப்பன்">நாரா. நாச்சியப்பன்</a><br/>
		


		<a href="#நீலகேசி ஆசிரியர்">நீலகேசி ஆசிரியர்</a><br/>
		


		<a href="#நெ து சுந்தரவடிவேலு">நெ து சுந்தரவடிவேலு</a><br/>
		


		<a href="#ப பாண்டியராஜா">ப பாண்டியராஜா</a><br/>
		


		<a href="#பதினெண்கீழ்க்கணக்கு">பதினெண்கீழ்க்கணக்கு</a><br/>
		


		<a href="#பதிற்றுப்பத்து">பதிற்றுப்பத்து</a><br/>
		


		<a href="#பத்துப்பாட்டு">பத்துப்பாட்டு</a><br/>
		


		<a href="#பன்னிரண்டாம் திருமுறை">பன்னிரண்டாம் திருமுறை</a><br/>
		


		<a href="#பன்னிரு திருமுறை">பன்னிரு திருமுறை</a><br/>
		


		<a href="#பரிமேலழகர்">பரிமேலழகர்</a><br/>
		


		<a href="#பாவலரேறு பெருஞ்சித்திரனார்">பாவலரேறு பெருஞ்சித்திரனார்</a><br/>
		


		<a href="#புகழேந்திப்பாண்டியன்">புகழேந்திப்பாண்டியன்</a><br/>
		


		<a href="#புதிய சொற்கள்">புதிய சொற்கள்</a><br/>
		


		<a href="#புரட்சிகவி பாரதிதாசன்">புரட்சிகவி பாரதிதாசன்</a><br/>
		


		<a href="#புலவர் கா. கோவிந்தன்">புலவர் கா. கோவிந்தன்</a><br/>
		


		<a href="#புலிப்பாணி சித்தர்">புலிப்பாணி சித்தர்</a><br/>
		


		<a href="#பூதஞ்சேந்தனார்">பூதஞ்சேந்தனார்</a><br/>
		


		<a href="#பெ. தூரன்">பெ. தூரன்</a><br/>
		


		<a href="#பெரியபுராணம்">பெரியபுராணம்</a><br/>
		


		<a href="#பொன்.சரவணன்">பொன்.சரவணன்</a><br/>
		


		<a href="#மகாகவி பாரதியார்">மகாகவி பாரதியார்</a><br/>
		


		<a href="#மகாத்மா காந்தி">மகாத்மா காந்தி</a><br/>
		


		<a href="#மணவை முஸ்தபா">மணவை முஸ்தபா</a><br/>
		


		<a href="#மதுரை தமிழ் இலக்கிய மின்தொகுப்புத் திட்டம்">மதுரை தமிழ் இலக்கிய மின்தொகுப்புத் திட்டம்</a><br/>
		


		<a href="#மறைமலை அடிகள்">மறைமலை அடிகள்</a><br/>
		


		<a href="#மிரோன் வின்சுலோ">மிரோன் வின்சுலோ</a><br/>
		


		<a href="#முடியரசன்">முடியரசன்</a><br/>
		


		<a href="#மேடைத்தமிழ்">மேடைத்தமிழ்</a><br/>
		


		<a href="#மொழிப்போர்">மொழிப்போர்</a><br/>
		


		<a href="#யசோதர காவியம் ஆசிரியர்">யசோதர காவியம் ஆசிரியர்</a><br/>
		


		<a href="#ரா. சீனிவாசன்">ரா. சீனிவாசன்</a><br/>
		


		<a href="#லா ச ராமாமிருதம்">லா ச ராமாமிருதம்</a><br/>
		


		<a href="#வரலாறு">வரலாறு</a><br/>
		


		<a href="#வர்த்தமான தேவர்">வர்த்தமான தேவர்</a><br/>
		


		<a href="#வளையாபதி ஆசிரியர்">வளையாபதி ஆசிரியர்</a><br/>
		


		<a href="#வள்ளலார்">வள்ளலார்</a><br/>
		


		<a href="#வாழ்வியல் முறை">வாழ்வியல் முறை</a><br/>
		


		<a href="#விக்கிமூலம்">விக்கிமூலம்</a><br/>
		


		<a href="#வின்சுலோ">வின்சுலோ</a><br/>
		


		<a href="#ஸ்ரீகுமர குருபரர்">ஸ்ரீகுமர குருபரர்</a><br/>
		

</P>

</TD>
<TD valign="top">

<H1>தனித்தமிழ் ஞாலக் களஞ்சியம்</H1>



{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
 {% assign ttags = post.tags | join:'|' | append:'|' %}
 {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
 {% if tag != "" %}
  {% if tags == "" %}
   {% assign tags = tag | split:'|' %}
  {% endif %}
  {% unless tags contains tag %}
   {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
  {% endunless %}
 {% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% assign tag_counter = 1 %}
{% for tag in tags %}
{% if tag != "released" %}	
<P><B>{{ tag_counter }} <a name="{{ tag }}">{{ tag }}</a> நூல்கள்</B>:</P>  
<TABLE cellspacing ="1" cellpadding ="6" border = "0">
  <thead>
    <tr>
      <th class="Title" align="center">நூல்</th>
      <th class="Title" align="center">தரவிறக்கம்</th>      
			{% if tag != "அகராதிகள்" %}	
			<th class="Title" align="center">தேடுசொல்</th>      			
			{% endif %}
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td class="bottom-left"></td>
      <td colspan="4"></td>
      <td class="bottom-right"></td>
    </tr>
  </tfoot>
  <tbody>
  
{% assign post_counter = 1 %}
{% assign post_titles = "" %}
{% for post in site.posts %}
{% if post.is_book != 1 and post.tags contains tag %}
{% assign tag_counter_mod = forloop.index | modulo: 2 %}

{% assign title_check = post.title | append:'|' %}
{% if post_titles contains title_check %}
	{% assign empty = "" %}
{% else %}
	
	<tr id="id_{{ tag_counter }}" >
	<td class="Item">
	
	{{ tag_counter }}.{{ post_counter }}. <a href="{{ post.url }}"><b>{{ post.title }}</b></a>
	
	</td>
	<td class="Item" align="center"><img src="images/Save.JPG" alt="save"/> <a href = "https://github.com/ThaniThamizhAkarathiKalanjiyam/tam_ilakiyam/raw/master/Noolkal{{ post.url }}.slob"> Download </a></td>	
	
	{% if tag != "அகராதிகள்" %}	
		<td class="Item" align="center">"{{ post.title }}/"</td>	
	{% endif %}
	</tr>
{% endif %}
	{% assign post_titles = post_titles | append:post.title | append:'|' %}


{% assign post_counter = post_counter | plus:1 %}
{% endif %}
{% endfor %}
  <tr><td colspan="3">Please install <a href="#niruval">அஃக ௨௮௭</a> for reading the book</td></tr>
  </tbody>
</table>
{% assign tag_counter = tag_counter | plus:1 %}
{% endif %}
{% endfor %}

<a name="niruval"> கைப்பேசியில் நிறுவல் முறை</a>

{% include install_nool_2.md %} 

<HR>
<P><SMALL>(Design) 2018 Pitchaimuthu. The site is hosted at <A href="https://thanithamizhakarathikalanjiyam.github.io/">GitHub</A> </SMALL> Thanks to github.</P>
</TD></TR></TABLE>

</BODY></HTML>
