<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">அஃக</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="searche">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> தேடலி
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agarathiV2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> சொல் உருவாக்கி
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wordnet">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> சொல்வலை
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ttak_date_time">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> நாட்காட்டி
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> யாம்
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
