---
categories: blog
title: தனித்தமிழ் ஞாலக் களஞ்சியம் (கூடுதல்)
keywords: More, Tamil, Books
description: “தனித்தமிழ் ஞாலக் களஞ்சியம்” என்னும் பெயரில் தமிழில் உள்ள சங்க ஆக்கங்கள், மற்றும் தனிநபர் தொகுத்த ஆக்கங்கள் அனைத்தும் தொகுக்கும் இடமாக “தனித்தமிழ் ஞாலக் களஞ்சியம்” விளங்கும்.
author: Tamilan
layout: Ruby 
tags:
 
permalink: more_books
featured: /images/ttak-48.png
---
<br/><br/><br/>
அகராதிகளை மற்றும் நூல்களை எவ்வாறு கையாளுவது என்பது பற்றி கீழே கொடுக்கப்பட்டு உள்ளது.
<br/><br/>
{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
 {% assign ttags = post.tags | join:'|' | append:'|' %}
 {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
 {% if tag != "" %}
  {% if tags == "" %}
   {% assign tags = tag | split:'|' %}
  {% endif %}
  {% unless tags contains tag %}
   {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
  {% endunless %}
 {% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% assign tag_counter = 1 %}

{% for tag in tags %}{% if tag != "released" %} 

<a href="{{ site.url }}/tag/{{ tag }}"><code class="highligher-rouge"><nobr>{{ tag }}</nobr></code>&nbsp;</a>

{% endif %}{% endfor %}

<br/>


{% include install_nool_2.md %}





