<!DOCTYPE html>
<html lang="en">
  <head>  
	<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/ttak-32.png"/>
	<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119554313-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());  

	gtag('config', 'UA-119554313-1');
	</script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style_aard.css"/>
<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
{% seo %}
  </head>
  <body>
    <table id="content">
        <tr>
            <td align="center">

              <table>
                <tr>
                  <td style="vertical-align: top">
                    <img id="app-logo" src="{{ site.baseurl }}/images/ttak.png" alt="TTAK logo">
                  </td>
                  <td>
                    <div id="app-name">
                      {{site.name}}
                    </div>

                    <ul class="fa-ul">
					  <li>
						  <a href="android">
							  <i class="fa-li fa fa-android"></i>
							  கைப்பேசி</a>
					  </li>
					  <li>
						  <a href="ttak-web">
							  <i class="fa-li fa fa-desktop"></i>
							  கணினி</a>
					  </li>
						<!--li>
						  <a href="isaiyinifm">
							  <i class="fa-li fa fa-bullhorn"></i>
							  பண்பலை</a>
					  </li>
					  <li>
						  <a href="nw">
							  <i class="fa-li fa fa-book"></i>
							  சொற்கள்</a>
					  </li>
					  <li>
						  <a href="nw2018">
							  <i class="fa-li fa fa-time"></i>
							  நாட்காட்டி</a>
					  </li-->
					  <li>
						  <a href="https://groups.yahoo.com/neo/groups/isaiyini/info">
							  <i class="fa-li fa fa-comments"></i>
							  மடலாடல்</a>
					  </li>
					</ul>
                  </td>
                </tr>
              </table>


              <div id="footer" align="center">
                  <span>
                      <a href="ttak-web">தனித்தமிழகராதிக்களஞ்சியம்</a>.
                  </span>
                  <br><br>
                  <span>
                      The software and the logic are &copy; 2009 Pitchaimuthu. The books and dictionary are mostly tamil Globalised books, and special contributors; The developer is not claiming authorization of the book content nor have right to the particular books. Join my mailing lists at 
                      <a href="https://groups.yahoo.com/neo/groups/isaiyini/info">இயாகூ குழுமம்</a>
                  </span>
              </div>

            </td>
        </tr>
    </table>

  </body>
</html>
